:export {
  ratingFontFamily: --gateway-ui-primary-font-family;
  ratingFontSize: --gateway-ui-font-size-lg;
  ratingActiveColor: --gateway-ui-color-primary;
  ratingDisabledColor: --gateway-ui-color-darkgrey;
}
