:root {
  --denhaag-breadcrumb-background-color: var(--gateway-ui-color-white);
  --denhaag-breadcrumb-link-color: var(--gateway-ui-color-primary);
  --denhaag-breadcrumb-link-hover-color: var(--gateway-ui-color-primary-hover);
  --denhaag-breadcrumb-list-max-width: 100%;

  --denhaag-sidenav-link-hover-color: var(--gateway-ui-color-primary);
  --denhaag-sidenav-link-active-color: var(--gateway-ui-color-primary);

  --denhaag-button-primary-action-background-color: var(
    --gateway-ui-color-primary
  );
  --denhaag-button-primary-action-hover-background-color: var(
    --gateway-ui-color-primary-hover
  );

  --conduction-container-max-width: var(--gateway-ui-container-max-width);
}
