:root {
  /* favicon */
  --gateway-ui-favicon: url("../../assets/svgs/conduction-logo.svg");

  /* Sizes */
  --gateway-ui-size-4xs: 1px;
  --gateway-ui-size-3xs: 2px;
  --gateway-ui-size-2xs: 4px;
  --gateway-ui-size-xs: 8px;
  --gateway-ui-size-sm: 14px;
  --gateway-ui-size-md: 18px;
  --gateway-ui-size-lg: 24px;
  --gateway-ui-size-xl: 32px;
  --gateway-ui-size-2xl: 48px;
  --gateway-ui-size-3xl: 72px;
  --gateway-ui-size-4xl: 96px;

  /* Font families */
  --gateway-ui-primary-font-family: "TheMix", sans-serif;
  --gateway-ui-content-font-family: "TheSans", sans-serif;

  /* Font sizes */
  --gateway-ui-font-size-4xs: 5px;
  --gateway-ui-font-size-3xs: 8px;
  --gateway-ui-font-size-2xs: 10px;
  --gateway-ui-font-size-xs: 12px;
  --gateway-ui-font-size-sm: 14px;
  --gateway-ui-font-size-md: 16px;
  --gateway-ui-font-size-lg: 20px;
  --gateway-ui-font-size-xl: 24px;
  --gateway-ui-font-size-2xl: 32px;
  --gateway-ui-font-size-3xl: 48px;
  --gateway-ui-font-size-4xl: 58px;

  /* Line heights */
  --gateway-ui-line-height-xs: 1;
  --gateway-ui-line-height-sm: 1.25;
  --gateway-ui-line-height-md: 1.5;
  --gateway-ui-line-height-lg: 2;

  /* Font weights */
  --gateway-ui-font-weight-light: 100;
  --gateway-ui-font-weight-normal: 400;
  --gateway-ui-font-weight-bold: 700;

  /* Border radiuses */
  --gateway-ui-border-radius-sm: 2px;
  --gateway-ui-border-radius-md: 4px;
  --gateway-ui-border-radius-lg: 8px;

  /* Focus border */
  --gateway-ui-focus-border: unset;

  /* Colors */
  --gateway-ui-color-white: #ffffff;
  --gateway-ui-color-black: black;
  --gateway-ui-color-darkgrey: darkgrey;
  --gateway-ui-color-light-red: #dd3c49;
  --gateway-ui-color-red: red;
  --gateway-ui-color-dark-red: rgb(146, 2, 2);
  --gateway-ui-color-light-green: #69b090;
  --gateway-ui-color-green: green;
  --gateway-ui-color-status-green: var(--gateway-ui-color-light-green);
  --gateway-ui-color-status-red: var(--gateway-ui-color-light-red);
  --gateway-ui-color-method-get: var(--gateway-ui-color-status-green);
  --gateway-ui-color-method-post: #51b8f4;
  --gateway-ui-color-method-put: #e9743a;
  --gateway-ui-color-method-delete: var(--gateway-ui-color-status-red);
  --gateway-ui-color-primary: #4376fc;
  --gateway-ui-color-primary-hover: #2e5ed9;
  --gateway-ui-background-color: #fafafa;
  --gateway-ui-side-bar-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.3);

  /* Components */
  --gateway-ui-container-max-width: 2440px;
}
