:root {
  /* favicon */
  --gateway-ui-favicon: url("../../assets/svgs/conduction-logo.svg");

  /* Sizes */
  --gateway-ui-size-4xs: 1px;
  --gateway-ui-size-3xs: 2px;
  --gateway-ui-size-2xs: 4px;
  --gateway-ui-size-xs: 8px;
  --gateway-ui-size-sm: 14px;
  --gateway-ui-size-md: 18px;
  --gateway-ui-size-lg: 24px;
  --gateway-ui-size-xl: 32px;
  --gateway-ui-size-2xl: 48px;
  --gateway-ui-size-3xl: 72px;
  --gateway-ui-size-4xl: 96px;

  /* Font families */
  --gateway-ui-primary-font-family: "TheMix", sans-serif;
  --gateway-ui-content-font-family: "TheSans", sans-serif;

  /* Font sizes */
  --gateway-ui-font-size-4xs: 5px;
  --gateway-ui-font-size-3xs: 8px;
  --gateway-ui-font-size-2xs: 10px;
  --gateway-ui-font-size-xs: 12px;
  --gateway-ui-font-size-sm: 14px;
  --gateway-ui-font-size-md: 16px;
  --gateway-ui-font-size-lg: 20px;
  --gateway-ui-font-size-xl: 24px;
  --gateway-ui-font-size-2xl: 32px;
  --gateway-ui-font-size-3xl: 48px;
  --gateway-ui-font-size-4xl: 58px;

  /* Line heights */
  --gateway-ui-line-height-xs: 1;
  --gateway-ui-line-height-sm: 1.25;
  --gateway-ui-line-height-md: 1.5;
  --gateway-ui-line-height-lg: 2;

  /* Font weights */
  --gateway-ui-font-weight-light: 100;
  --gateway-ui-font-weight-normal: 400;
  --gateway-ui-font-weight-bold: 700;

  /* Border radiuses */
  --gateway-ui-border-radius-sm: 2px;
  --gateway-ui-border-radius-md: 4px;
  --gateway-ui-border-radius-lg: 8px;

  /* Focus border */
  --gateway-ui-focus-border: unset;

  /* Colors */
  --gateway-ui-color-white: #ffffff;
  --gateway-ui-color-black: black;
  --gateway-ui-color-lightgrey: rgb(238, 238, 238);
  --gateway-ui-color-grey: rgb(217, 217, 217);
  --gateway-ui-color-darkgrey: rgb(204, 204, 204);
  --gateway-ui-color-red: red;
  --gateway-ui-color-dark-red: rgb(146, 2, 2);
  --gateway-ui-color-green: #28a745;
  --gateway-ui-color-dark-green: #218838;
  --gateway-ui-color-orange: orange;
  --gateway-ui-color-status-green: #69b090;
  --gateway-ui-color-status-red: #dd3c49;
  --gateway-ui-color-method-get: var(--gateway-ui-color-status-green);
  --gateway-ui-color-method-post: #51b8f4;
  --gateway-ui-color-method-put: #95507c;
  --gateway-ui-color-method-patch: #e9743a;
  --gateway-ui-color-method-update: #e93aac;
  --gateway-ui-color-method-delete: var(--gateway-ui-color-status-red);
  --gateway-ui-color-primary: #4376fc;
  --gateway-ui-color-primary-hover: #2e5ed9;
  --gateway-ui-background-color: #fafafa;
  --gateway-ui-side-bar-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.3);
  --gateway-ui-color-disabled: #c2c8cb;
  --gateway-ui-mapping-header-border-color: 1px solid rgb(209, 209, 209);
  --gateway-ui-row-background-color: #f9f8f6;
  --gateway-ui-drop-down-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.8);
  --gateway-ui-mapping-header-background-color: #f9f8f6;
  --gateway-ui-mapping-code-editor-border-color: 1px solid rgb(118, 118, 118);

  --gateway-ui-color-status-background-debug: #f2f2f2;
  --gateway-ui-color-status-debug: #4a4a4a;
  --gateway-ui-color-status-background-success: #d4edda;
  --gateway-ui-color-status-success: #155724;
  --gateway-ui-color-status-background-info: #cce5ff;
  --gateway-ui-color-status-info: #004085;
  --gateway-ui-color-status-background-notice: #d1ecf1;
  --gateway-ui-color-status-notice: #0c5460;
  --gateway-ui-color-status-background-warning: #fff3cd;
  --gateway-ui-color-status-warning: #856404;
  --gateway-ui-color-status-background-error: #ffc061;
  --gateway-ui-color-status-error: #59401a;
  --gateway-ui-color-status-background-critical: #f8d7da;
  --gateway-ui-color-status-critical: #721c24;
  --gateway-ui-color-status-background-alert: #ff959e;
  --gateway-ui-color-status-alert: #480f14;
  --gateway-ui-color-status-background-emergency: #000000;
  --gateway-ui-color-status-emergency: #ffffff;

  /* Components */
  --gateway-ui-container-max-width: 2440px;
  --gateway-ui-card-border-color: 1px solid var(--gateway-ui-color-primary);
  --gateway-ui-objects-save-button-left-border-radius: 3px 0 0 3px;
  --gateway-ui-objects-save-button-right-border-radius: 0 3px 3px 0;
  --gateway-ui-objects-save-button-color: black;
  --gateway-ui-objects-save-button-background-color: white;
  --gateway-ui-objects-save-button-border-color: 1px solid rgb(204, 204, 204);
  --gateway-ui-objects-save-button-triangle-size: 14px;
  --gateway-ui-objects-save-button-triangle-position-from-right: 16px;
  --gateway-ui-objects-save-button-options-border-radius: 4px;
  --gateway-ui-objects-save-button-options-button-border-radius: 4px;
  --gateway-ui-confirm-popup-overlay-background-color: rgba(0, 0, 0, 0.3);
  --gateway-ui-confirm-popup-width: 500px;
}
