.container {
  box-sizing: border-box;
  background-color: var(--gateway-ui-color-white);
  padding-inline-start: var(--gateway-ui-size-md);
  padding-inline-end: var(--gateway-ui-size-md);
  padding-block-start: var(--gateway-ui-size-md);
  padding-block-end: var(--gateway-ui-size-md);
}

.container > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.tabContainer {
  background: var(--gateway-ui-color-white);
  margin-block-start: var(--gateway-ui-size-2xl);
}

.tabPanel {
  padding-inline-start: var(--gateway-ui-size-lg) !important;
  padding-inline-end: var(--gateway-ui-size-lg) !important;
  padding-block-start: var(--gateway-ui-size-lg) !important;
  padding-block-end: var(--gateway-ui-size-lg) !important;
}

.tab {
  max-width: unset !important;
}
