.container {
  width: 100%;
}

.container > :not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gateway-ui-size-lg);
  margin-block-end: var(--gateway-ui-size-xl);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: var(--gateway-ui-size-xs);
}

.buttons > * {
  display: flex;
  align-items: center;
}

.buttonIcon > span > svg {
  margin-inline-end: var(--gateway-ui-size-xs);
}

.tableRow {
  cursor: pointer;
}

/* Status colors */
.statusOk {
  --conduction-tag-background-color: var(--gateway-ui-color-status-green);
  --conduction-tag-color: var(--gateway-ui-color-white);
}

.statusFailed {
  --conduction-tag-background-color: var(--gateway-ui-color-status-red);
  --conduction-tag-color: var(--gateway-ui-color-white);
}

@media only screen and (min-width: 992px) {
  .section {
    flex-direction: row;
  }

  .buttons {
    justify-content: flex-end;
  }
}
