.container > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.section {
  display: flex;
  justify-content: space-between;
  margin-block-end: var(--gateway-ui-size-xl);
}

.title {
  word-break: break-word;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons > * {
  display: flex;
  align-items: center;
}

.buttons *:not(:last-child) {
  margin-inline-end: var(--gateway-ui-size-xs);
}

.buttonIcon > span > svg {
  margin-inline-end: var(--gateway-ui-size-xs);
}

.gatewayDetailContainer > *:has(> *):not(:last-child) {
  margin-block-end: var(--gateway-ui-size-lg);
}

.gatewayDetailContainer > * > h3 {
  margin-block-end: var(--gateway-ui-size-lg);
}

.type {
  color: var(--gateway-ui-color-darkgrey);
  font-size: var(--gateway-ui-font-size-md);
  display: flex;
  gap: var(--gateway-ui-size-xl);
}

.descriptionAndTags {
  display: flex;
  justify-content: space-between;
  gap: var(--gateway-ui-size-lg);
}

.descriptionAndTags > .description {
  flex: 3;
}

.descriptionAndTags > .tags {
  flex: 1;
}

.descriptionAndTags > .tags > * {
  margin-inline-end: var(--gateway-ui-size-xs);
  margin-block-end: var(--gateway-ui-size-xs);
}

.extraInfo {
  width: 100%;
  display: flex;
  gap: var(--gateway-ui-size-lg);
}

.extraInfo > * {
  flex: 1;
}

.extraInfoTable {
  flex: 3;
}

.extraInfoSupport > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-md);
}

.extraInfoSupport > div > *:not(:last-child) {
  margin-inline-end: var(--gateway-ui-size-md);
  margin-block-end: var(--gateway-ui-size-xs);
}

.downloadIndicatorContainer {
  height: 100%;
  width: fit-content;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gateway-ui-size-lg);
}

.card {
  background-color: var(--gateway-ui-color-lightgrey);
  padding-block: var(--gateway-ui-size-sm);
  padding-inline: var(--gateway-ui-size-sm);
  border-radius: 12px;
  width: 110px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gateway-ui-size-sm);
}

.card .cardContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* this is essentially a parent selector */
.cardContent:has(.downloadsDownloadButton) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.downloadsDownloadButton {
  cursor: pointer;
}

.maintainersContainer {
  display: flex;
  gap: var(--gateway-ui-size-xl);
}

.maintainer > img {
  max-width: 120px;
  display: block;
  margin-inline: auto;
}

.deleteButton {
  --denhaag-button-primary-action-background-color: var(--gateway-ui-color-red);
}

.deleteButton:hover {
  --denhaag-button-primary-action-hover-background-color: var(
    --gateway-ui-color-dark-red
  );
}
