.container > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.content > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.data > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-lg);
}

.section {
  display: flex;
  justify-content: space-between;
  margin-block-end: var(--gateway-ui-size-2xl);
}

.title {
  word-break: break-word;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons > * {
  display: flex;
  align-items: center;
}

.buttons *:not(:last-child) {
  margin-inline-end: var(--gateway-ui-size-xs);
}

.buttonIcon > span > svg {
  margin-inline-end: var(--gateway-ui-size-xs);
}

.gatewayDetailContainer > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-lg);
}

.type {
  color: var(--gateway-ui-color-darkgrey);
  font-size: var(--gateway-ui-font-size-md);
  display: flex;
  gap: var(--gateway-ui-size-xl);
}

.descriptionAndTags {
  display: flex;
  justify-content: space-between;
  gap: var(--gateway-ui-size-md);
}

.descriptionAndTags > .description {
  flex: 3;
}

.descriptionAndTags > .tags {
  flex: 1;
}

.descriptionAndTags > .tags > * {
  margin-inline-end: var(--gateway-ui-size-xs);
  margin-block-end: var(--gateway-ui-size-xs);
}

.extraInfo {
  width: 100%;
  display: flex;
  gap: var(--gateway-ui-size-md);
}

.extraInfo > * {
  flex: 1;
}

.extraInfoTable {
  flex: 3;
}

.extraInfoSupport > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-md);
}

.extraInfoSupport > div > *:not(:last-child) {
  margin-inline-end: var(--gateway-ui-size-md);
}

.deleteButton {
  --denhaag-button-primary-action-background-color: var(--gateway-ui-color-red);
}

.deleteButton:hover {
  --denhaag-button-primary-action-hover-background-color: var(
    --gateway-ui-color-dark-red
  );
}
