.container > :not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.section {
  display: flex;
  justify-content: space-between;
  margin-block-end: var(--gateway-ui-size-xl);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons > * {
  display: flex;
  align-items: center;
}

.buttons *:not(:last-child) {
  margin-inline-end: var(--gateway-ui-size-xs);
}

.buttonIcon > span > svg {
  margin-inline-end: var(--gateway-ui-size-xs);
}

.respondeBody {
  width: 100%;
  height: 350px;

  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

/* Status colors */
.statusOk {
  --conduction-tag-background-color: var(--gateway-ui-color-status-green);
  --conduction-tag-color: var(--gateway-ui-color-white);
}

.statusFailed {
  --conduction-tag-background-color: var(--gateway-ui-color-status-red);
  --conduction-tag-color: var(--gateway-ui-color-white);
}

/* Method colors */

.getTag {
  --conduction-tag-background-color: var(--gateway-ui-color-method-get);
  --conduction-tag-color: var(--gateway-ui-color-white);
}

.postTag {
  --conduction-tag-background-color: var(--gateway-ui-color-method-post);
  --conduction-tag-color: var(--gateway-ui-color-white);
}

.putTag {
  --conduction-tag-background-color: var(--gateway-ui-color-method-put);
  --conduction-tag-color: var(--gateway-ui-color-white);
}

.deleteTag {
  --conduction-tag-background-color: var(--gateway-ui-color-method-delete);
  --conduction-tag-color: var(--gateway-ui-color-white);
}

.patchTag {
  --conduction-tag-background-color: var(--gateway-ui-color-method-patch);
  --conduction-tag-color: var(--gateway-ui-color-white);
}

.updateTag {
  --conduction-tag-background-color: var(--gateway-ui-color-method-update);
  --conduction-tag-color: var(--gateway-ui-color-white);
}
