.container > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.callsToAction {
  display: flex;
  justify-content: flex-end;
}

.callsToAction > *:not(:last-child) {
  margin-inline-end: var(--gateway-ui-size-sm);
}
