.container {
  --condution-container-max-width: 2440px;
  --denhaag-breadcrumb-list-max-width: 100%;

  display: flex;
}

.sidebar {
  width: 300px;
}

.content {
  width: 100%;
  overflow: scroll;
  height: calc(100vh - var(--nlportal-space-block-2xl) * 2);
  padding-block: var(--nlportal-space-block-2xl);
  padding-inline: var(--nlportal-space-inline-2xl);
}
