.container {
  --conduction-container-max-width: var(--gateway-ui-container-max-width);
  --denhaag-breadcrumb-list-max-width: 100%;

  display: flex;
}

.sidebar {
  width: 300px;
}

.content {
  width: 100%;
  overflow: scroll;
  height: calc(100vh - var(--gateway-ui-size-xl) * 2);
  padding-block: var(--gateway-ui-size-xl);
  padding-inline: var(--gateway-ui-size-xl);

  --denhaag-breadcrumb-background-color: white;
  --denhaag-breadcrumb-link-color: #4376fc;
}

.content > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-xl);
}
