.container {
  display: flex;
}

.sidebar {
  width: 300px;
}

.content {
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - var(--gateway-ui-size-xl) * 2);
  padding-block: var(--gateway-ui-size-xl);
  padding-inline: var(--gateway-ui-size-xl);
}

.content > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}
