html,
body {
  margin: 0;
  --utrecht-document-background-color: #fafafa;
  --utrecht-textbox-border-width: 1px;
  --utrecht-textbox-border-color: #7a7a7a;
  --utrecht-textbox-placeholder-color: #d1d1d1;
  --utrecht-textarea-border-width: 1px;
  --utrecht-textarea-border-color: #7a7a7a;
  --utrecht-textarea-placeholder-color: #d1d1d1;

}

button:hover {
  cursor: pointer;
}
