.container {
  box-sizing: border-box;
  background-color: var(--gateway-ui-color-white);
  padding-inline-start: var(--gateway-ui-size-md);
  padding-inline-end: var(--gateway-ui-size-md);
  padding-block-start: var(--gateway-ui-size-md);
  padding-block-end: var(--gateway-ui-size-md);
}

.container > :not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.content > :not(:last-child) {
  margin-block-end: var(--gateway-ui-size-md);
}

.tabContainer {
  background: var(--gateway-ui-color-white);
  margin-block-start: var(--gateway-ui-size-2xl);
  padding-block: var(--gateway-ui-size-md);
  padding-inline: var(--gateway-ui-size-md);
}

.tabPanel {
  padding-inline-start: var(--gateway-ui-size-lg) !important;
  padding-inline-end: var(--gateway-ui-size-lg) !important;
  padding-block-start: var(--gateway-ui-size-lg) !important;
  padding-block-end: var(--gateway-ui-size-lg) !important;
}

.tab {
  max-width: unset !important;
}

.formFieldHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formFieldInfoHeader {
  display: flex;
  align-items: center;
  gap: var(--gateway-ui-size-xs);
}

.testMappingForm > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-lg);
}

.beautifyButton {
  color: var(--gateway-ui-color-primary);
}

.beautifyButton:hover {
  color: var(--gateway-ui-color-primary-hover);
  cursor: pointer;
}

.beautifyButton > svg {
  margin-inline-end: var(--gateway-ui-size-xs);
}
