.container > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.buttonIcon > span > svg {
  margin-inline-end: var(--gateway-ui-size-xs);
}

.tableRow {
  cursor: pointer;
}

.details {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  z-index: 2;
}

.actionName {
  word-break: break-word;
  min-width: 250px;
}

.tagWidth {
  width: max-content !important;
}

/* Status colors */
.statusOk {
  --conduction-tag-background-color: var(--gateway-ui-color-status-green);
  --conduction-tag-color: var(--gateway-ui-color-white);
}

.statusFailed {
  --conduction-tag-background-color: var(--gateway-ui-color-status-red);
  --conduction-tag-color: var(--gateway-ui-color-white);
}
