.container > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.details {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  z-index: 2;
}

.actionName {
  word-break: break-word;
  min-width: 250px;
}

.tagWidth {
  width: max-content !important;
}
