.container {
  white-space: nowrap;
}

/* .debug { uses default values } */

.success {
  background-color: #d4edda;
  color: #155724;
}

.info {
  background-color: #cce5ff;
  color: #004085;
}

.notice {
  background-color: #d1ecf1;
  color: #0c5460;
}

.warning {
  background-color: #fff3cd;
  color: #856404;
}

.error {
  background-color: #ffc061;
  color: #59401a;
}

.critical {
  background-color: #f8d7da;
  color: #721c24;
}

.alert {
  background-color: #ff959e;
  color: #480f14;
}

.emergency {
  background-color: #000000;
  color: #ffffff;
}
