.buttonIcon > span > svg,
.buttonIcon > svg {
  margin-inline-end: var(--gateway-ui-size-xs);
}

.primaryButton {
  border-radius: 3px 0 0 3px !important;
  margin-inline-end: 0 !important;
}

.secondaryButton {
  border-radius: 0 3px 3px 0 !important;
}

.container {
  position: relative;
}

.optionsContainer {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  margin-block-start: var(--gateway-ui-size-sm);
}

.optionsContainerEnabled {
  display: block;
}

.triangle {
  /* dont ask me how this works, it just does */
  display: block;
  height: 14px;
  width: 14px;
  background-color: white;
  border: 1px solid var(--gateway-ui-color-darkgrey);
  position: absolute;
  top: -8px;
  right: 16px;
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  transform: rotate(135deg);
  border-radius: 0 0 0 0.25em;
}

.options {
  display: flex;
  flex-direction: column;
  padding-inline: var(--gateway-ui-size-xs);
  padding-block: var(--gateway-ui-size-xs);
  outline: 1px solid var(--gateway-ui-color-darkgrey);
  border-radius: 4px;
}

.optionsButton {
  font-size: var(--gateway-ui-font-size-md);
  width: 100%;
  padding-block: var(--gateway-ui-size-2xs);
  display: flex;
  gap: var(--gateway-ui-size-xs);
  background-color: unset;
  border: none;
  cursor: pointer;
}
.optionsButton:hover {
  background-color: var(--gateway-ui-color-lightgrey);
  border-radius: 4px;
}
