.gridContainer {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.descriptionSection {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.grid {
  display: grid;
  grid-gap: var(--gateway-ui-size-lg);
  grid-template-columns: 1fr 1fr;
}
