.container > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.section {
  display: flex;
  justify-content: space-between;
  margin-block-end: var(--gateway-ui-size-xl);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons > * {
  display: flex;
  align-items: center;
}

.buttons *:not(:last-child) {
  margin-inline-end: var(--gateway-ui-size-xs);
}

.buttonIcon > span > svg {
  margin-inline-end: var(--gateway-ui-size-xs);
}

.addObjectButton {
  margin-block-end: var(--gateway-ui-size-lg);
}

.addPropertyButton {
  margin-block-end: var(--gateway-ui-size-lg);
}

.tableRow {
  cursor: pointer;
}

.tabContainer {
  background: var(--gateway-ui-color-white);
  margin-block-start: var(--gateway-ui-size-2xl);
}

.tabPanel {
  padding-inline-start: var(--gateway-ui-size-lg) !important;
  padding-inline-end: var(--gateway-ui-size-lg) !important;
  padding-block-start: var(--gateway-ui-size-lg) !important;
  padding-block-end: var(--gateway-ui-size-lg) !important;
}

.tab {
  max-width: unset !important;
}
