.container > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.addObjectButton,
.addPropertyButton,
.saveSchemaButton {
  margin-block-end: var(--gateway-ui-size-lg);
}

.contentContainer {
  background: var(--gateway-ui-color-white);
  margin-block-start: var(--gateway-ui-size-2xl);
  padding-inline-start: var(--gateway-ui-size-md);
  padding-inline-end: var(--gateway-ui-size-md);
  padding-block-start: var(--gateway-ui-size-md);
  padding-block-end: var(--gateway-ui-size-md);
}

.tabPanel {
  padding-inline-start: var(--gateway-ui-size-lg) !important;
  padding-inline-end: var(--gateway-ui-size-lg) !important;
  padding-block-start: var(--gateway-ui-size-lg) !important;
  padding-block-end: var(--gateway-ui-size-lg) !important;
}

.tab {
  max-width: unset !important;
}

.downloadButton > span > svg {
  margin-inline-end: var(--gateway-ui-size-xs);
}

.downloadSchemaButton {
  text-decoration: none;
}

.downloadSchemaButton.disabled {
  pointer-events: none;
}
