.container > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.tabPanel {
  padding-inline-start: var(--gateway-ui-size-lg) !important;
  padding-inline-end: var(--gateway-ui-size-lg) !important;
  padding-block-start: var(--gateway-ui-size-lg) !important;
  padding-block-end: var(--gateway-ui-size-lg) !important;
}

.tab {
  max-width: unset !important;
}
