.container {
  background: var(--gateway-ui-color-white);
}

.header {
  padding-inline-start: var(--gateway-ui-size-md);
  padding-inline-end: var(--gateway-ui-size-md);
  padding-block-start: var(--gateway-ui-size-md);
  padding-block-end: var(--gateway-ui-size-md);
}

.button > span > svg {
  margin-inline-end: var(--gateway-ui-size-xs);
}

.message {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.message > :first-child {
  width: 100%;
}

.pagination {
  padding-inline-start: var(--gateway-ui-size-md);
  padding-inline-end: var(--gateway-ui-size-md);
  padding-block-start: var(--gateway-ui-size-md);
  padding-block-end: var(--gateway-ui-size-md);
}
