.button {
  white-space: nowrap;
}

.button > span > svg {
  margin-inline-end: var(--gateway-ui-size-xs);
}

.success {
  --denhaag-button-primary-action-background-color: var(
    --gateway-ui-color-green
  );
}

.success:hover {
  --denhaag-button-primary-action-hover-background-color: var(
    --gateway-ui-color-dark-green
  );
}

.danger {
  --denhaag-button-primary-action-background-color: var(--gateway-ui-color-red);
}

.danger:hover {
  --denhaag-button-primary-action-hover-background-color: var(
    --gateway-ui-color-dark-red
  );
}
