.container > :last-child {
  margin-block-start: var(--gateway-ui-size-lg);
}

.actionsContainer {
  width: 100%;
  gap: var(--gateway-ui-size-md);
  display: flex;
  justify-content: space-between;
}

.searchAndFilterContainer {
  display: flex;
  align-items: flex-start;
  gap: var(--gateway-ui-size-md);
  width: 100%;
}

.searchAndFilterContainer > :last-child {
  min-width: 200px;
  max-width: 400px;
}

.searchAndFilterContainer > div > input {
  height: 49.5px; /* height of DisplayFiltersButton */
}
