.paginationContainer {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
}

.paginationContainer > *:not(:last-child) {
  flex: 1;
}

.paginationLink {
  font-size: var(--gateway-ui-font-size-lg);
}

.paginationLinkSmall {
  font-size: var(--gateway-ui-font-size-md);
}

.paginationLink:hover {
  cursor: pointer;
  color: var(--gateway-ui-pagination-active-color-hover);
}

.paginationActivePage {
  color: var(--gateway-ui-pagination-active-color);
  font-weight: var(--gateway-ui-font-weight-bold);
  font-size: var(--gateway-ui-font-size-lg);
}

.paginationActivePageSmall {
  color: var(--gateway-ui-pagination-active-color);
  font-weight: var(--gateway-ui-font-weight-bold);
  font-size: var(--gateway-ui-font-size-md);
}

.paginationActivePage:hover {
  cursor: default;
}

.paginationDisabled {
  color: var(--gateway-ui-color-disabled);
}

.paginationDisabled:hover {
  cursor: unset !important;
  color: var(--gateway-ui-color-disabled);
}

.breakLink {
  font-size: var(--gateway-ui-font-size-lg);
}
.breakLink:hover {
  cursor: default !important;
}
