.container > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.cardsGrid {
  display: grid;
  grid-gap: var(--gateway-ui-size-lg);
  grid-template-columns: 1fr 1fr;
}

/* Status colors */
.statusOk {
  --conduction-tag-background-color: var(--gateway-ui-color-status-green);
  --conduction-tag-color: var(--gateway-ui-color-white);
}

.statusFailed {
  --conduction-tag-background-color: var(--gateway-ui-color-status-red);
  --conduction-tag-color: var(--gateway-ui-color-white);
}
