.container {
  display: flex;
  flex-direction: column;
  border: var(--gateway-ui-card-border-color);
  padding-inline-start: var(--gateway-ui-size-md);
  padding-inline-end: var(--gateway-ui-size-md);
  padding-block-start: var(--gateway-ui-size-md);
  padding-block-end: var(--gateway-ui-size-md);
}

.container > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-md);
}

.titleLink {
  font-size: var(--gateway-ui-font-size-lg);
  --denhaag-link-icon-gap: var(--gateway-ui-size-xs);
}

.titleLink > :first-child > span > svg {
  width: var(--gateway-ui-font-size-lg);
  height: var(--gateway-ui-font-size-lg);
}

.titleLink > :first-child {
  display: flex;
}
.statusTypeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gateway-ui-size-sm);
}

.date {
  display: flex;
}
.tagsList {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 12px;
  flex-wrap: wrap;
}
.date :not(:last-child) {
  margin-inline-end: var(--gateway-ui-size-sm);
}

.dateText {
  align-self: center;
}

.sectionDivider > *:not(:last-child):has(> *) {
  margin-block-end: var(--gateway-ui-size-md);
}

.mainSection {
  display: flex;
  gap: var(--gateway-ui-size-md);
}

.deleteButton {
  --denhaag-button-primary-action-background-color: var(--gateway-ui-color-red);
}

.deleteButton:hover {
  --denhaag-button-primary-action-hover-background-color: var(
    --gateway-ui-color-dark-red
  );
}

.deleteButton > span > svg {
  margin-inline-end: var(--gateway-ui-size-xs);
}
/* Status colors */
.statusOk {
  --conduction-tag-background-color: var(--gateway-ui-color-status-green);
  --conduction-tag-color: var(--gateway-ui-color-white);
}

.statusFailed {
  --conduction-tag-background-color: var(--gateway-ui-color-status-red);
  --conduction-tag-color: var(--gateway-ui-color-white);
}
