.gridContainer > *:not(:first-child) {
  margin-block-start: var(--gateway-ui-size-sm);
}
.section {
  display: flex;
  justify-content: space-between;
  margin-block-end: var(--gateway-ui-size-2xl);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons > * {
  display: flex;
  align-items: center;
}

.buttons *:not(:last-child) {
  margin-inline-end: var(--gateway-ui-size-xs);
}

.button {
  width: max-content;
}

.buttonIcon > span > svg {
  margin-inline-end: var(--gateway-ui-size-xs);
}

.grid {
  display: grid;
  grid-gap: var(--gateway-ui-size-lg);
  grid-template-columns: 1fr 1fr;
}
