.container {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
}

.beautifyButton {
  user-select: none;
  position: absolute;
  bottom: var(--gateway-ui-size-sm);
  right: var(--gateway-ui-size-sm);
  color: var(--gateway-ui-color-primary);
  background-color: var(--gateway-ui-color-white);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 8px;
}

.beautifyButton:hover {
  color: var(--gateway-ui-color-primary-hover);
  cursor: pointer;
}

.beautifyButton > svg {
  margin-inline-end: var(--gateway-ui-size-xs);
}
