.container > :not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.statusOk {
  --conduction-tag-background-color: var(--gateway-ui-color-green);
  --conduction-tag-color: var(--gateway-ui-color-white);
}

.statusFailed {
  --conduction-tag-background-color: var(--gateway-ui-color-red);
  --conduction-tag-color: var(--gateway-ui-color-white);
}
