.container > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.container .filters,
.container .logsTable {
  position: relative;
}

.container .logsTable {
  z-index: 1;
}

.container .filters {
  z-index: 2;
}

/* pagination */

.paginationContainer {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
}

.paginationContainer > *:not(:last-child) {
  flex: 1;
}

.paginationLink {
  font-size: var(--gateway-ui-font-size-lg);
}

.paginationLinkSmall {
  font-size: var(--gateway-ui-font-size-md);
}

.paginationLink:hover,
.paginationLinkSmall:hover {
  cursor: pointer;
  color: var(--gateway-ui-color-primary-hover);
}

.paginationActivePage {
  color: var(--gateway-ui-color-primary);
  font-weight: var(--gateway-ui-font-weight-bold);
  font-size: var(--gateway-ui-font-size-lg);
}

.paginationActivePageSmall {
  color: var(--gateway-ui-color-primary);
  font-weight: var(--gateway-ui-font-weight-bold);
  font-size: var(--gateway-ui-font-size-md);
}

.paginationActivePage:hover {
  cursor: default;
}

.paginationDisabled:hover {
  cursor: unset !important;
  color: var(--gateway-ui-color-disabled);
}

.paginationDisabled {
  color: var(--gateway-ui-color-disabled);
}

.breakLink {
  font-size: var(--gateway-ui-font-size-lg);
}
.breakLink:hover {
  cursor: default !important;
}

/* end-pagination */

@media only screen and (min-width: 992px) {
  /* pagination */
  .paginationContainer > *:not(:first-child) {
    margin-inline-start: var(--gateway-ui-size-xl);
  }

  .paginationContainer > *:not(:last-child) {
    flex: unset !important;
  }

  .paginationLink {
    font-size: var(--gateway-ui-font-size-lg);
  }

  .paginationActivePage {
    color: var(--gateway-ui-color-primary);
    font-weight: var(--gateway-ui-font-weight-bold);
    font-size: var(--gateway-ui-font-size-lg);
  }
  /* end-pagination */
}
