.container > *:not(:last-child) {
  margin-block-end: var(--gateway-ui-size-2xl);
}

.tableRow {
  cursor: pointer;
}

/* Status colors */
.statusOk {
  --conduction-tag-background-color: var(--gateway-ui-color-status-green);
  --conduction-tag-color: var(--gateway-ui-color-white);
}

.statusFailed {
  --conduction-tag-background-color: var(--gateway-ui-color-status-red);
  --conduction-tag-color: var(--gateway-ui-color-white);
}
